
.gallery_card {
    position: relative;
    width: 30%;
    height: 340px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out;
}

@media screen and (max-width: 1230px) {
    .gallery_card {
        width: 47%;
    }
}

@media screen and (max-width: 900px) {
    .gallery_card {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .gallery_card {
        height: 200px;
    }
}

.gallery_card::after {
    content: '';
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.gallery_card:hover {
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.gallery_card:hover img {
    transform: scale(1.1);
}

.gallery_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
}

.gallery_card h3 {
    z-index: 20;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-weight: 500;
    font-size: clamp(12px, 3vw, 18px);
     /* La variable de couleur $color-primary doit être définie en amont */
}


