.home_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: #F7F7F7;
  padding: 50px;
  border-radius: 25px;
  width: 95%;
  margin: 0 auto;
  
}



.home_gallery a {
  display: block;
  position: relative;
  height: 340px;
  border-radius: 25px;
  overflow: hidden; /* cacher le dépassement du contenu */

  
}
.home_gallery a img:hover {
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.home_gallery a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

  
}

.home_gallery a h3 {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 18px;
  
  
}

.gallery_card{
padding: 10%;
}

@media screen and (max-width: 1230px) {
  .home_gallery {
    gap: 25px;
    padding: 25px 15px;
  }
  .home_gallery a{
    height: 250px;
  }
  
}

@media screen and (max-width: 550px) {
  .home_gallery {
    width: 100%;
  }

}