
.notFound {
    text-align: center;

  }
  
  .notFound_infos_title {
    font-size: 5em;
    font-weight: bold;
  }
  .notFound_infos_title{
    padding-top: 150px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    /* or 411px */
    
    align-items: center;
    text-align: center;
    
    color: #FF6060;
  }
  .notFound_infos_content{
left: 20.49%;
right: 18.96%;
top: 59.18%;
bottom: 35.84%;
padding-bottom: 110px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
/* or 51px */




color: #FF6060;
  }

.notFound_infos_return{
    left: 40.14%;
    right: 40.14%;
    top: 81.93%;
    bottom: 15.53%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* identical to box height, or 26px */
    
 
    text-decoration-line: underline;
    
    color: #FF6060;
}
@media screen and (max-width: 768px) {

  
    .notFound_infos_title {
      font-size: 3em;
    }
  
    .notFound_infos_title {
      font-size: 3em;
      font-weight: bold;
      font-size: 144px;
      line-height: 1.2;
    }
  
    .notFound_infos_content {
      font-size: 24px;
    }
  
    .notFound_infos_return {
      font-size: 14px;
    }
  }
  
