
.banner {
  position: relative;
  display: flex;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../data/home_cover.png');
  background-position: center;
  background-size: cover;
  height: 223px;
  padding: 20px;
  max-width: 95%;
  margin: 43px auto;
}

@media screen and (max-width: 550px) {
  .banner {
    margin: 20px auto;
    height: 120px;
  }
}

.banner_about {
  position: relative;
  display: flex;
  border-radius: 25px;
  height: 223px;
  max-width: 95%;
  margin: 43px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../data/about_cover.png');
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 550px) {
  .banner_about {
    margin: 20px auto;
    height: 120px;
  }
}

.banner p {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 500;
}
